In [45]:
import pandas as pd
from string import Template

In [46]:
df = pd.read_csv('sample.csv', header=None)

In [47]:
df.head()

,0,1,2,3,4,5
0,GoogleMaps,NaN,https://mt1.google.com/vt/lyrs=m&x=%7Bx%7D&y=%...,NaN,19,0
1,GoogleSatellite,NaN,https://mt1.google.com/vt/lyrs=s&x=%7Bx%7D&y=%...,NaN,19,0
2,GoogleTerrain,NaN,https://mt1.google.com/vt/lyrs=t&x=%7Bx%7D&y=%...,NaN,19,0
3,GoogleTerrainHybrid,NaN,https://mt1.google.com/vt/lyrs=p&x=%7Bx%7D&y=%...,NaN,19,0
4,GoogleSatelliteHybrid,NaN,https://mt1.google.com/vt/lyrs=y&x=%7Bx%7D&y=%...,NaN,19,0

In [48]:
t = Template('<xyztiles username="" name="$name" password="" authcfg="" zmin="$zmin" referer="" url="$url" zmax="$zmax"/>')

for i in df:
    print(t.substitute(name=df[0][i], zmin=df[5][i], zmax=df[4][i], url=df[2][i]))

<xyztiles username="" name="GoogleMaps" password="" authcfg="" zmin="0" referer="" url="https://mt1.google.com/vt/lyrs=m&x=%7Bx%7D&y=%7By%7D&z=%7Bz%7D" zmax="19"/>
<xyztiles username="" name="GoogleSatellite" password="" authcfg="" zmin="0" referer="" url="https://mt1.google.com/vt/lyrs=s&x=%7Bx%7D&y=%7By%7D&z=%7Bz%7D" zmax="19"/>
<xyztiles username="" name="GoogleTerrain" password="" authcfg="" zmin="0" referer="" url="https://mt1.google.com/vt/lyrs=t&x=%7Bx%7D&y=%7By%7D&z=%7Bz%7D" zmax="19"/>
<xyztiles username="" name="GoogleTerrainHybrid" password="" authcfg="" zmin="0" referer="" url="https://mt1.google.com/vt/lyrs=p&x=%7Bx%7D&y=%7By%7D&z=%7Bz%7D" zmax="19"/>
<xyztiles username="" name="GoogleSatelliteHybrid" password="" authcfg="" zmin="0" referer="" url="https://mt1.google.com/vt/lyrs=y&x=%7Bx%7D&y=%7By%7D&z=%7Bz%7D" zmax="19"/>
<xyztiles username="" name="WikimediaMap" password="" authcfg="" zmin="1" referer="" url="https://maps.wikimedia.org/osm-intl/%7Bz%7D/%7Bx%7D/%7By%7D.png" zmax="20"/>